* {
	font-family: "微软雅黑";
	color: #000;
}

html, body {
	height: 100%;
	width: 100%;
}

.header {
	background-color: rgb(24,180,237);
	width: 100%;
	height: 30x;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
}

.header .header-center {
	text-align: center;
	vertical-align: 10px;
}

.header h2 {
	font-size: 20px;
	margin: 0;
	line-height: 30px;
	color: #fff;
}

.header .remove-padding {
	padding: 0;
	line-height: 30px;
	text-align: center;
}

.header .remove-padding span {
	margin-left: 2px;
	color: #776868;
	font-size: 12px;
}

.content .search {
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -110px;
}

.search-bar .row .fix-width-for-input {
	width: 100%;
	vertical-align: -2px;
	float: left;
}

.search-bar .btn-search-index {
	position: absolute;
	top: 0;
	right: 5%;
	border: 0;
	background: none;
}

.content .logo {
	margin-bottom: 10px;
}

.content .logo .change-img {
	width: 60px;
	height: 60px;
}

.content .logo .change-word {
	width: 100px;
	height: 30px;
	margin-top: 0px;
}

.content .logo .img-center {
	text-align: center;
}

.blank-content {
	height: 150px;
}

.content .result {
	margin-bottom: 10px;
}

.content .result .weight-word {
	font-weight: bold;
	font-size: 16px;
}

.content .result-container {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 10px;
}

.content .result-container a {
	display: block;
	color: #000;
}

.content .result-container a:hover {
	cursor: pointer;
	text-decoration: none;
}

.content .result-container .result-header h2 {
	font-size: 20px;
	color: #1C1F23;
	margin: 0;
}

.content .result-container .result-shop span {
	color: #867575;
}

.content .result-show {
	margin-bottom: 5px;
}

.content .result-detail {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.content .detail-rows {
	box-sizing: border-box;
	border-bottom: 1px dashed #ddd;
	min-height: 30px;
}

.content .detail-rows .label {
	color: #383e49;
	vertical-align: -2px;
}

.content .detail-rows .value {
	color: #776868;
	vertical-align: -3px;
	box-sizing: border-box;
	border-left: 1px dashed #ddd;
	padding-left: 10px;
}

.content .result-detail .detail-shop th {
	text-align: center;
	padding: 2px 8px;
	color: #383e49;
}

.content .result-detail .detail-shop .shop-title {
	box-sizing: border-box;
	border-left: 1px dashed #ccc;
	color: #383e49;
}

.content .result-detail .detail-shop .shop-list {
	border-bottom: 1px solid #ccc;
}

.content .result-detail .detail-shop .remove-table-margin {
	margin: 0;
}

.content .result-detail-fix {
	position: absolute;
	top: 10%;
}

.content .search-result-fix {
	width: 100%;
	position: absolute;
	top: 10%;
}