<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>后台</title>

    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <style type="text/css">
      .form-horizontal {
        margin: auto;
        margin-top: 100px;
        width: 80%;
      }

      #hint {
        display: none;
      }
    </style>

    <script type="text/javascript">
      function verify() {
        var idNumber = $("#idNumber").val();
        var name = $("#name").val();
        var sex = $("#sex").val();
        var result = $("#result").val();
        var time = $("#time").val();
        var location = $("#location").val();
        var doctor = $("#doctor").val();
        if (idNumber && name && sex && result
          && time && location) {
          var postDate = {
            "id_number": idNumber,
            "name": name,
            "sex": sex,
            "result": result,
            "time": time,
            "location": location,
            "doctor": doctor
          };
          $.ajax({
              url: "/background/eyes",
              method: "POST",
              data: postDate,
              xhrFields: {
                  withCredentials: true
              },
              success: function(data) {
                  if (data['code'] == 500) {
                      $("#hint").addClass("alert-danger");
                      $("#hint").css("display", "block");
                      $("#hint").html("<strong>添加失败</strong>");
                  } else if (data['code'] == 200) {
                      $("#hint").addClass("alert-success");
                      $("#hint").css("display", "block");
                      $("#hint").html("<strong>添加成功</strong>");
                      $("input").val("");
                  }
              }
          })
        } else {
          $("#hint").addClass("alert-danger");
          $("#hint").css("display", "block");
          $("#hint").html("<strong>部分字段未填写</strong>");
        }
        console.log("test");
      }
    </script>
  </head>
  <body>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <div class="alert" role="alert" id="hint"></div>
        </div>
      </div>
      <div class="form-group">
        <label for="idNumber" class="col-sm-2 control-label">身份证号</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="idNumber">
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name">
        </div>
      </div>

      <div class="form-group">
        <label for="sex" class="col-sm-2 control-label">性别</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="sex">
        </div>
      </div>

      <div class="form-group">
        <label for="result" class="col-sm-2 control-label">审查结果</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="result">
        </div>
      </div>

      <div class="form-group">
        <label for="time" class="col-sm-2 control-label">约诊时间</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="time">
        </div>
      </div>

      <div class="form-group">
        <label for="location" class="col-sm-2 control-label">约诊地点</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="location">
        </div>
      </div>

      <div class="form-group">
        <label for="doctor" class="col-sm-2 control-label">负责医师</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="doctor">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-default" onclick="verify()">添加</button>
        </div>
      </div>
    </form>
  </body>