<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>添加预约人</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/mui.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/doctor/create-order.css') }}">

	<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="{{ static_url("js/mui.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url("js/doctor/add-order-people.js") }}"></script>
</head>
<body>
	<h3>新的预约人:</h3>

	<div class="mui-content-padded">
		<form class="mui-input-group">
			<div class="mui-input-row">
				<label>姓名：</label>
				<input type="text" class="mui-input-clear" placeholder="请输入姓名" id="name">
			</div>
			<div class="mui-input-row">
				<label>身份证：</label>
				<input type="text" class="mui-input-clear" placeholder="请输入身份证号码" id="id-card">
			</div>
			<div class="mui-input-row">
				<label>手机：</label>
				<input type="text" class="mui-input-clear" placeholder="请输入手机号码" id="telephone">
			</div>
			<div class="mui-input-row">
				<label>诊疗卡：</label>
				<input type="text" class="mui-input-clear" placeholder="请输入诊疗卡号" id="hospital-card">
			</div>
			<div class="mui-button-row">
				<button type="button" class="mui-btn mui-btn-primary" onclick="createNewOrderPeople()">确认</button>&nbsp;&nbsp;
				<button type="button" class="mui-btn mui-btn-primary" onclick="backToCreateOrderPage()">取消</button>
			</div>
		</form>
	</div>
</body>
</html>