<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>创建预约</title>
	<link rel="stylesheet" type="text/css" href="{{ static_url("css/mui.min.css") }}">
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/doctor/create-order.css') }}">

	<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="{{ static_url("js/mui.min.js") }}"></script>
	<script type="text/javascript" src="{{ static_url('js/doctor/create-order.js') }}"></script>
</head>
<body>
	<h3>您的预约:</h3>
	<div class="mui-card">
		<ul class="mui-table-view">
			<li class="mui-table-view-cell">
				<span class="order-title">社区：</span><span class="order-value">{{ doctor_info["community"] }}</span>
			</li>
			<li class="mui-table-view-cell">
				<span class="order-title">医生：</span><span class="order-value">{{ doctor_info["doctor_name"] }}</span>
			</li>
			<li class="mui-table-view-cell">
				<span class="order-title">时间：</span><span class="order-value" id="order-time">无法获取</span>
			</li>
		</ul>
	</div>

	<h3>选择预约人：</h5>
	<div class="mui-card">
		<form class="mui-input-group">
		{% for people_item in order_people_info %}
			<div class="mui-input-row mui-radio">
				<label>{{ people_item['name'] }}</label>
				<input name="people-info" type="radio" value=" {{ people_item['value'] }} ">
			</div>
		{% end %}
		</form>
	</div>

	<button class="mui-btn mui-btn-primary add-order" onclick="addPeople();">
		<span class="mui-icon mui-icon-plus"></span>
		添加预约人
	</button>

	<button class="mui-btn mui-btn-positive mui-btn-block comfirm" onclick="createOrder()">确认</button>
</body>
</html>