<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ static_url('css/clndr.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="{{ static_url('css/clndr_change.css') }}">
</head>
<body>
  <div class="container">
    <div class="cal1">
    </div>
  </div>


  <script src="{{ static_url('js/json2.js')}}"></script>
  <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/underscore.js/1.8.3/underscore-min.js"></script>
  <script src= "{{ static_url('js/moment-2.8.3.js')}}"></script>

  <script src="{{ static_url('js/clndr.js')}}"></script>
  <script src="{{ static_url('js/site.js')}}"></script>

</body>
</html>