{% extends "base.html"%}

{% block body %}
<div class="search">
	<div class="logo">
		<div class="container-fluid">
			<div class="row">
			  <div class="col-md-4 col-xs-3"></div>
			  <div class="col-md-4 col-xs-6 img-center">
			  	<img src="{{ static_url('image/logo.png') }}" alt="社区小康" class="change-img">
				<img src="{{ static_url('image/word.png') }}" alt="社区小康" class="change-word">
			  </div>
			  <div class="col-md-4 col-xs-3"></div>
			</div>
		</div>
	</div>

	<div class="search-bar">
		<form action="/result" method="post">
			<div class="container-fluid">
				<div class="row">
				  <div class="col-md-4 col-xs-1"></div>
				  <div class="col-md-4 col-xs-10">
				  	<input type="text" class="form-control fix-width-for-input" placeholder="请输入你要查找的药品" name="query" required>
				  	<input class="btn btn-default btn-search-index" type="submit" value="搜索" />
				  </div>
				  <div class="col-md-4 col-xs-1"></div>
				</div>
			</div>
		</form>
	</div>

</div>
{% end %}