{% extends "base.html"%}

{% block body %}
<div class="search">
	<div class="logo">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-xs-3"></div>
				<div class="col-md-4 col-xs-6 img-center">
					<img src="{{ static_url('image/logo.png') }}" alt="社区小康" class="change-img">
					<img src="{{ static_url('image/word.png') }}" alt="社区小康" class="change-word">
				</div>
				<div class="col-md-4 col-xs-3"></div>
			</div>
		</div>
	</div>
	<div class="description">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-xs-1"></div>
				<div class="col-md-4 col-xs-10">
					<p>说明:药名关键字、功能两种检索方式均可帮助您查找到所需药品，社区定位将帮助您查找到所需药品所在最近药店</p>
				</div>
				<div class="col-md-4 col-xs-1"></div>
			</div>
		</div>
	</div>
	<div class="search-bar">
		<form action="/result" method="post">
			<div class="serach-input">
				<input type="text" class="form-control fix-width-for-input" placeholder="请输入你要查找的药品" name="name_query" required>
			</div>
			<div class="search-community">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle search-select" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
				    <span class="search-select-content">金羊社区</span>
				    <span class="caret search-caret"></span>
				    <input class="search-input-hidden" name="community" value="金羊社区">
				  </button>
				  <ul class="dropdown-menu search-menu" role="menu" aria-labelledby="dropdownMenu2">
				    {% for item in ["金羊社区", "农林上社区", "东园新村社区"] %}
				      <li role="presentation" class="search-li">{{ item }}</li>
				    {% end %}
				  </ul>
				</div>
			</div>

			<div class="search-function">
				<div class="dropdown">
				  <button class="btn btn-default dropdown-toggle search-select" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
				    <span class="search-function-content">请选择药品功能</span>
				    <span class="caret search-caret"></span>
				    <input class="search-input-func-hidden" name="func_query" value="全部药品">
				  </button>
				  <ul class="dropdown-menu search-menu" role="menu" aria-labelledby="dropdownMenu2">
				    {% for item in ["抗生素类药品","心脑血管用药","消化系统用药","呼吸系统用药","泌尿系统用药","血液系统用药","五官科用药","抗风湿类药品","注射剂类药品","糖尿病用药","激素类药品","皮肤科用药","妇科用药","抗肿瘤用药","抗精神病药品","清热解毒药品","抗晕抗过敏药","滋补类药品","维生素、矿物质药品"]%}
				      <li role="presentation" class="search-func-li">{{ item }}</li>
				    {% end %}
				</ul>
				</div>
			</div>
			
			<button class="btn btn-default btn-search" type="submit">查询</button>


		</form>
	</div>
</div>
{% end %}